.clusters {
  &:nth-child(-n+3) {
    .cluster {
      padding-top: 0;
    }
  }

  .cluster {
    margin-bottom: $mo-section-spacing;
    .cluster__name {
      color: $color__gray;
      margin-bottom: $mo-element-spacing;
    }
  }
}
