

.modal {
  position: fixed;
  height: 70%;
  width: 94%;
  max-width: 940px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 99;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 15px 35px rgba(50,50,93,.07), 0 5px 15px rgba(0,0,0,.07);

  .row--full-height {
    height: 100%;
  }

  .left__container {
    text-align: center;
    background-color: $color__dark-gray;
    border-right: 1px solid rgba(0,0,0,.12);

    .left__inner {
      display: inline-block;
      text-align: left;
      margin: auto;
      padding: $mo-section-spacing;

      .keys {
        margin-bottom: $mo-element-spacing;

        .key {
          font-size: 1.25rem;
          display: inline-block;
          margin-right: $mo-element-spacing / 2;
          padding: $mo-element-spacing / 3;
          background-color: $color__primary;
          border-radius: 3px;
        }
      }

      .command {
        font-size: 1.375rem;
        font-weight: 700;
      }
    }
  }

  .right__container {
    background-color: $color__dark-gray;
    padding-left: $mo-section-spacing * 2;
    overflow: hidden;
    border-radius: 3px;

    .right__inner {
      overflow: hidden;
      max-height: 75%;
      text-align: left;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 3px;

      video {
        width: 250%;
        margin-left: -62px;
        margin-top: -39px;
      }
    }
  }
}

.return {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 98;
}
