.search__input {
  width: 100%;

  input {
    font-family: "Quantico", sans-serif;
    border-radius: 3px;
    padding: $mo-element-spacing;
    width: inherit;
    background-image: url('../../public/icons/search-icon.svg');
    background-size: auto calc(100% - 30px);
    background-repeat: no-repeat;
    background-position: right $mo-element-spacing center;
  }
}
