$color__orange: #FD971F;
$color__ghost-white: #F8F8F8;
$color__gray: #888;
$color__brow-gray: #49483E;
$color__dark-gray: #282828;

$color__primary: $color__orange;


$font__color: $color__ghost-white;
