// Imports
@import url(https://fonts.googleapis.com/css?family=Quantico:400,700);

// Variables
$font__stack: 'Quantico', sans-serif;

$font-size__base: 16px;


// =============================================================================
// General styles related to text
// =============================================================================
body, html {
  font-family: $font__stack;
  font-size: $font-size__base;
  color: $font__color;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

h1 {
  font-size: 1.625rem;
}

h3 {
  font-size: 1.125rem;
}

p {
  font-size: 1rem;
  line-height: 1.8;
}

a {
  font-size: 1rem;
  color: inherit;
  text-decoration: none;
}

input {
  font-size: 1rem;
}

small, label {
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1.5px;
}
