// =============================================================================
// Layout
// =============================================================================
.container {
  padding: 0 15px;
  max-width: 940px;
  margin: auto;
}
