// =============================================================================
// Spacings
// =============================================================================

// Components
$mo-element-spacing: 1rem;

// Section
$mo-section-spacing: 2rem;

// Text
$mo-header-spacing: 1rem;
