@import "~normalize.css";
@import "~sigrid";

@import "shared/hive";
@import "components/hive";

body {
  color: $font__color;
  background-color: $color__brow-gray;
}

.container {
  padding: 0 15px;
  max-width: 940px;
  margin: auto;
}

.home {
  color: #fff;
  padding: 100px 0;
}

.home__title {
  text-align: center;
}

.cluster__name {
  color: #888;
  font-weight: 400;
}

// Modal
.modal__container {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

// Animations
.modal-enter {
  opacity: 0;
  transform: scale(0.2);
}

.modal-enter.modal-enter-active {
  opacity: 1;
  transform: scale(1);
  -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.modal-leave {
  opacity: 1;
  transform: scale(1);
}

.modal-leave.modal-leave-active {
  opacity: 0;
  transform: scale(0);
  -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
